<!DOCTYPE html>

<html>
    
<body> 
<a href="http://127.0.0.1:3000/">
<button> back</button>
</a>

</body>

<form method="post" action="/send">
    <div>
        <label for="phone">Subject</label>
        <input type="text" id="subject" name="subject" required>
    </div>
    <br>
    <div>
        <label for="body">body</label>
        <input type="text" id="" name="body" required>
    </div>
    <br>
    <div>
        <input type="hidden" name="action" value="send">
        <input type="submit" value="send">
    </div>
</form>

</html>